<eal-form-card [title]="title">

  <form [formGroup]="form">
<% for(let ctrl in fields) { if( ctrl !== 'id' ) {%>
<% if(fields[ctrl].control === 'text') { %>    <eal-text label="<%=fields[ctrl].label%>" formControlName="<%=ctrl%>"></eal-text><% } else %>
<% if(fields[ctrl].control === 'select') { %>    <eal-select label="<%=fields[ctrl].label%>" formControlName="<%=ctrl%>" [options]="<%=fields[ctrl].options%>"></eal-select><% } else %>
<% if(fields[ctrl].control === 'check') { %>    <eal-check label="<%=fields[ctrl].label%>" formControlName="<%=ctrl%>"></eal-check><% } %>
<% } } %>
    <button type="button" [disabled]="!form.valid" (click)="onSubmit()" class="btn btn-primary">Salva</button>
    <button type="button" class="btn btn-outline-primary" (click)="backToList()">Annulla</button>

  </form>

</eal-form-card>
