<div class="jumbotron">
  <h1>Angular Day 2018</h1>
  <h3>Gestire applicazioni di classe Enterprise con Angular 6 e Schematics</h3>
  <p>
    <strong>Angular 6</strong> introduce il concetto di workspace per la creazione di applicazioni Angular aziendali complesse e articolate. Grazie ad un approccio basato sul pattern mono-repo un workspace può contenere più applicazioni e librerie condivisibili tra le applicazioni stesse. Vedremo come progettare un workspace e sfruttare la potenza dei nuovi @angular-devkit/schematics per automatizzare la generazione di codice applicativo pronto all’uso.
  </p>
  <hr>
  <div class="row">
    <blockquote class="blockquote col-4">
      <p class="mb-0">Durante le vacanze di natale ho studiato una cosa che si chiamerà Angular 2, è stato il più bel regalo trovato sotto l'albero</p>
      <footer class="blockquote-footer">Paolo - dicembre 2015</footer>
    </blockquote>
  </div>
</div>
